@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


.form-div{
	margin: 50px auto 50px;
	padding: 25px 15px 10px 15px;
	borer: 1px solid #80ced7;
	border-radius: 5px;
	font-size: 1.1em;
	font-family: 'Lora', serif;

.form-control:focus{
	box-shadow:none;
}

.form p{
	font-size: .89em;
}
.form-div.login{
	margin-top: 150px;
}